/* Fonts */

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto.woff2") format("woff2"),
  url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/robotobold.woff2") format("woff2"),
  url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/robotomedium.woff2") format("woff2"),
  url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

/* Variables */

:root {
  --button-light-grey: #EEEEEE;
  --button-medium-grey: #DFDFDF;
  --button-dark-grey: #D5D5D5;

  --popup-basic: #D7DCDE;
  --popup-hover: #B4B9BB;
  --grey-element: #C1C1C1;

  --basic-light-red: #FB565A;
  --basic-medium-red: #E74246;
  --basic-dark-red: #D7373B;


  --basic-light-green: #00CA74;
  --basic-medium-green: #00BC6C;
  --basic-dark-green: #00AA62;

  --basic-light-yellow: #EFC849;
  --basic-medium-yellow: #EAB534;
  --basic-dark-yellow: #E5A722;

  /* Text */

  --basic-black: #000000;
  --basic-extra-dark: #283136;
  --basic-grey: #666666;
  --basic-white: #ffffff;
}

/* Global */

.page-body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: var(--basic-extra-dark);
  background-color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.decoration-horizontal-line {
  height: 2px;
  background-color: var(--button-light-grey);
  margin: 0;
  padding: 0;
}
.page {
  height: 100%;
}

/* Main header */

.main-header {
  margin: 0;
  padding: 0;
  height: 114px;
  margin-bottom: 0;
  background-color: var(--button-light-grey);
}

/* Button */

.button {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  cursor: pointer;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
}

/* Logo */

.main-header-logo {
  margin: 0;
  margin-top: 48px;
  padding: 0;
  height: 65.02px;
  width: 159.87px;
}
.main-header-logo.link img:hover,
.main-header-logo.link img:focus {
  opacity: 70%;
}
.main-header-logo.link img:active {
  opacity: 30%;
}

/* Main navigation */

.main-navigation {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  background-color: transparent;
  display: grid;
  margin: 0 auto;
  padding: 0;
  grid-template-columns: 160px 1fr min-content;
}
.main-navigation a {
  text-decoration: none;
}
.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 9px;
  padding-left: 202px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.nav-item {
  margin: 0;
  padding: 0;
  margin-right: 45px;
}

/* User navigation */

.user-navigation {
  margin: 0;
  padding: 0;
  padding-bottom: 9px;
  display: flex;
  align-items: flex-end;
  position: relative;
}
.site-navigation a,
a.user-navigation  {
  color: var(--basic-black);
  cursor: pointer;
}
.site-navigation a:hover,
.site-navigation a:focus,
a.user-navigation:hover,
a.user-navigation:focus {
  color: var(--basic-light-red);
}
.site-navigation a:active,
a.user-navigation:active {
  color: rgba( 0, 1, 1, 0.3);
}
.nav-item-current a {
  position: relative;
}
.nav-item-current a::before {
  content: "";
  position: absolute;
  top: 38px;
  height: 2px;
  width: 100%;
  background-color: var(--basic-light-red);
}

/* Login link */

.cart-link::before {
  content: "";
  position: absolute;
  top: 82px;
  right: 99.84px;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* Galery and slogan */

.slider-slogan {
  display: grid;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  height: 431px;
  background-color: var(--button-light-grey);
}
.slider-slogan .container {
  position: relative;
}
.slider-image {
  margin: 0;
  padding: 0;
  background-position: top right;
  background-repeat: no-repeat;
}
.slider-image-1 {
  background-image: url("../img/nerds-index-slide1.png");
}
.slider-image-2 {
  background-image: url("../img/nerds-index-slide2.png");
}
.slider-image-3 {
  background-image: url("../img/nerds-index-slide3.png");
}
.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slider-item {
  margin: 0;
  padding: 0;
}
.slider-item h2 {
  margin: 0;
  padding: 0;
  padding-top: 78px;
  padding-bottom: 25px;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
}
.slider-item p {
  margin: 0;
  padding: 0;
  padding-bottom: 38px;
}
.slider-item .button {
  display: inline-block;

  padding: 0;
  margin: 0;
  padding: 16px 54px;
  margin-bottom: 80px;
  background-color: var(--basic-light-red);
  border-radius: 3px;
}
.slider-item .button:hover,
.slider-item .button:focus {
  background-color: var(--basic-medium-red);
}
.slider-item .button:active {
  background-color: var(--basic-dark-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.slider-controls {
  position: absolute;
  top: 317px;
  right: 534px;
  display: flex;
  width: 88px;
  justify-content: space-between;
}
.slider-controls button {
  position: relative;
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.slider-controls .current::before {
  box-sizing: border-box;
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  padding: 0;
  width: 8px;
  height: 8px;
  z-index: 50;
  border: 2px solid var(--grey-element);
}
.slide {
  display: none;
}
.slide-current {
  display: block;
}

/* Servises */

.services .container {
  padding-bottom: 80px;
  border-bottom: 2px solid var(--button-light-grey);
}
.list-services {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.list-services-item {
  text-align: center;
  padding: 0;
  margin: 0;
  padding-top: 1px;
}
.list-services-item.item-app {
  margin-left: 100px;
  margin-right: 100px;
}
.services-item {
  text-align: left;
}
.list-services-item h3 {
  margin: 0;
  padding: 0;
  padding-top: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}
.list-services-item p {
  margin: 0;
  padding: 0;
  padding-top: 16px;
  padding-bottom: 32px;
}
.list-services-item .button {
  display: inline-block;
  padding: 16px 40px;
  border-radius: 3px;
}

  /* Red web button */

.button.web {
  background-color: var(--basic-light-red);
}
.button.web:hover,
.button.web:focus {
  background-color: var(--basic-medium-red);
}
.button.web:active {
  background-color: var(--basic-dark-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

  /* Green app button */

.button.app {
  background-color: var(--basic-light-green);
}
.button.app:hover,
.button.app:focus {
  background-color: var(--basic-medium-green);
}
.button.app:active {
  background-color: var(--basic-dark-green);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

  /* Yellow presentation button */

.button.presentation {
  background-color: var(--basic-light-yellow);
}
.button.presentation:hover,
.button.presentation:focus {
  background-color: var(--basic-medium-yellow);
}
.button.presentation:active {
  background-color: var(--basic-dark-yellow);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* About */

.about-features {
  padding: 0;
  margin-top: 39px;
}
.about-features .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 46px;
  border-bottom: 2px solid var(--button-light-grey);
}
.about .intro {
  margin: 0;
  padding: 0;
  padding-top: 34px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
}
.about .list-orders-title {
  font-weight: bold;
  text-transform: uppercase;
}
.our-values {
  margin: 0;
  padding: 0;
  padding-top: 1px;
}
.list-orders-title {
  margin: 0;
  padding: 0;
  padding-top: 40px;
  padding-bottom: 23px;
}
.list-orders {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list-orders li {
  margin: 0;
  padding: 0;
  position: relative;
  padding-left: 37px;
  padding-bottom: 25px;
}
.list-orders li::before {
  content: "";
  position: absolute;
  top: 11px;
  left: -1px ;
  width: 26px;
  height: 2px;
  background-color: var(--basic-light-red);
}
.features caption {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-black);
  padding-left: 18px;
  padding-top: 30px;
  padding-bottom: 31px;
}
.features-table {
  padding: 0;
  margin: 0;
  border-collapse: collapse;
}
.features-table tr{
  padding: 0;
  margin: 0;
}
.features-table td{
  padding: 0;
  margin: 0;
}
table .feature-value {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
  position: relative;
}
.features-table td:nth-child(1) {
  padding-left: 2px;
  padding-right: 29px;
}
.features-table td:nth-child(2) {
  padding-right: 22px;
}
table .feature-value:after {
  content: ' \0025';
  font-size: 26px;
  line-height: 40px;
  position: absolute;
  top: 2px;
}
table .feature-item {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

/* CLients */

.clients-item-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  padding-top: 46px;
  margin-bottom: 80px;
  padding-bottom: 36px;
  border-bottom: 2px solid var(--button-light-grey);
  position: relative;
}
.clients-item {
  list-style: none;
  justify-self: start;
}
.clients-item-list li:nth-of-type(1) {
  padding-left: 31px;
  padding-top: 19px;
}
.clients-item-list li:nth-of-type(2) {
  padding-left: 35px;
}
.clients-item-list li:nth-of-type(3) {
  padding-top: 19px;
  padding-left: 59px;
}
.clients-item-list li:nth-of-type(4) {
  padding-top: 9px;
  padding-left: 75px;
}
.clients-item a {
  opacity: 20%;
}
.clients-item a:focus,
.clients-item a:hover {
  opacity: 100%;
}
.clients-item a:active {
  opacity: 10%;
}
.client-htmlacademy::after {
  content:"";
  position: absolute;
  left: 280px;
  top: 64px;
  width: 2px;
  height: 52px;
  background-color: var(--button-light-grey);
}
.client-borodinski::after {
  content:"";
  position: absolute;
  left: 580px;
  top: 64px;
  width: 2px;
  height: 52px;
  background-color: var(--button-light-grey);
}
.client-pink::after {
  content:"";
  position: absolute;
  left: 880px;
  top: 64px;
  width: 2px;
  height: 52px;
  background-color: var(--button-light-grey);
}

/* Main footer */

.main-footer-group {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 0;
  padding-top: 64px;
  padding-bottom: 68px;
  width: 1158px;
}

/* Map */

.map-contacts {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
}
.map {
  min-height: 416px;
  width: 100%;
  display: block;
  text-align: center;
}
.map-contacts .contacts-wreapper::after {
  content: "";
  position: absolute;
  top: 32px;
  left: 680px;
  width: 231px;
  height: 190px;
  background-image: url("../img/map-marker.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* Contacts */

.contacts {
  position: absolute;
  top: 54px;
  background: var(--basic-white);
  padding: 0;
  margin: 0;
}
.contacts-wreapper {
  padding: 0;
  margin: 49px 50px 47px 50px;
}
.contacts p {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-grey);
  margin: 0;
  padding: 0;
}
.adress {
  margin: 0;
  padding: 0;
}
.contacts .phone {
  padding-top: 18px;
  padding-bottom: 37.29px;
}
.contacts h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  padding: 0;
  margin: 0;
  margin-bottom: 22.71px;
}
.contacts-phone {
  color:inherit;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.contact-us-link {
  display: block;
  border: none;
  text-align: center;
  text-decoration: none;
  padding: 16px 44px;
  border-radius: 3px;
  background-color: var(--basic-light-red);
}
.contact-us-link:active {
  color: var(--basic-white);
}

/* Socials */

.socials {
  margin: 0;
  padding: 0;
}
.socials-list {
  list-style: none;
  display: grid;
  grid-template-columns: 81px 81px 81px;
  column-gap: 9px;
  padding: 0;
  margin: 0;
}
.socials-list li {
  text-decoration: none;
}
.social-button {
  display: block;
  width: 78px;
  height: 78px;
  padding: 0;
  margin: 0;
  line-height: 89px;
  text-align: center;
  border-radius: 50%;
  background: #e1e1e1;
}
.social-button.social-button-vk {
  line-height: 78px;
}
.social-button:hover,
.social-button:focus {
  background-color: var(--basic-medium-red);
}
.social-button:active {
  background: linear-gradient(0deg, #D7373B, #D7373B);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.discount {
  margin: 0;
  padding: 0;
  padding-left: 12px;
}
.discount .discount-appeal {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
  padding: 0;
  margin-top: 6px;
  margin-bottom: 10px;
}
.discount .discount-proposal {
font-weight: normal;
font-size: 16px;
line-height: 22px;
color: #444444;
padding: 0;
margin: 0;
}

/* Popup */

.popup {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  padding: 0;
  width: 759px;
  height: 443px;
  background-color: var(--basic-white);
  padding: 63px 100px 84px 101px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}
.popup-show {
  display: block;
}
.popup-close {
  position: absolute;
  top: 78px;
  right: 90px;
  height: 21px;
  width: 21px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
.popup-close::before,
.popup-close::after {
  content: "";
  position: absolute;
  top: 8px;
  left: -2px;
  width: 26px;
  height: 3px;
  background-color: var(--basic-light-red);
  opacity: 30%;
}
.popup-close::before {
  transform: rotate(45deg);
}
.popup-close::after {
  transform: rotate(-45deg);
}
.popup-close:hover:before,
.popup-close:hover:after,
.popup-close:focus:before,
.popup-close:focus:after {
  opacity: 100%;
}
.popup-close:active:before,
.popup-close:active:after {
  opacity: 10%;
}
.feedback-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 760px;
}
.popup-item {
  margin: 0;
  padding: 0;
}
.popup-item-name,
.popup-item-email {
  width: 360px;
  margin-bottom: 34px;
}
.popup-item-text {
  width: 760px;
  margin-bottom: 47px;
}
.popup h3 {
 position: relative;
 margin: 0;
 padding: 0;
 padding-bottom: 37px;
 font-weight: bold;
 font-size: 45px;
 line-height: 53px;
 color: var(--basic-black)
}
.feedback-form label {
  line-height: 18px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  padding-bottom: 12px;
  color: var(--basic-black);
}
.popup .send  {
  border: none;
  text-align: center;
  text-decoration: none;
  width: 259px;
  height: 50px;
  border-radius: 3px;
  background-color: var(--basic-light-red);
}
.feedback-form button {
  width: 259px;
  height: 50px;
  background-color: var(--basic-light-red);
  border-radius: 3px;
  border: none;
  text-align: center;
  text-decoration: none;
}
.popup-item input[type="text"],
.popup-item input[type="email"],
.popup-item textarea {
  margin-top: 9px;
  width: 360px;
  height: 50px;
}
.popup-item textarea {
  width: 760px;
  height: 118px;
  resize: none;
}
.popup-item input[type="text"],
.popup-item input[type="email"],
.popup-item textarea {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  background-color: transparent;
  border-radius: 3px;
  border: 2px solid var(--popup-basic);
  box-sizing: border-box;
  margin: 0;
  padding: 16px;
}
.popup-item input:hover,
.popup-item textarea:hover {
  border: 2px solid var(--popup-hover);
}
.popup-item input:hover::placeholder,
.popup-item textarea:hover::placeholder {
  color: var(--popup-hover);
}
.popup-item input:focus,
.popup-item textarea:focus{
  border: 2px solid var(--basic-black);
}
.popup-item input:focus::placeholder,
.popup-item textarea:focus::placeholder {
  color: var(--basic-black);
}
.popup-item input:invalid::placeholder,
.popup-item textarea:invalid::placeholder {
  color: var(--basic-medium-red);
}
.popup-item input:invalid,
.popup-item textarea:invalid {
  border: 2px solid var(--basic-medium-red);
}
.popup-send:hover,
.popup-send:focus {
  color: var(--basic-white);
}

/* Catalog */

.catalog {
  display: grid;
  grid-template-columns: 260px 1fr;
  align-content: start;
  padding: 0;
}
.catalog-name {
  background-color: var(--button-light-grey);
  margin: 0;
  padding-top: 77px;
  padding-bottom: 109px;
}
.catalog-name h1 {
 font-weight: 500;
 font-size: 55px;
 line-height: 55px;
 color: var(--basic-black);
 text-align: center;
}

/* Catalog filter */

.catalog-filter {
  line-height: 20px;
  margin: 0;
  margin-top: 55px;
  padding: 0;
  width: 260px
}
.catalog-filter legend {
 font-weight: bold;
 font-size: 18px;
 line-height: 30px;
 text-transform: uppercase;
 color: var(--basic-black);
}
.catalog-filter ul {
 list-style: none;
}
.form-filter .button {
 color: var(--basic-black);
 border: none;
 text-align: center;
 text-decoration: none;
 width: 260px;
 height: 50px;
 border-radius: 3px;
 background-color: var(--button-light-grey);
}
.form-filter .button:focus,
.form-filter .button:hover {
  background-color: var(--button-medium-grey);
}
.form-filter .button:active {
  color: rgba(0, 1, 1, 0.3);
  background-color: var(--button-dark-grey);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.filter-price {
  margin: 0;
  padding: 0;
  border: none;
}
.range-filter {
  width: 260px;
  margin-top: 49px;
}
.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 14px;
  padding-top: 39px;
  padding-right: 22px;
  padding-left: 22px;
  background-color: var(--button-light-grey);
  border-radius: 3px;
}
.range-controls .scale {
  height: 2px;
  background: var(--popup-basic);
}
.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--basic-light-green);
}
.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: #ABABAB;
  border-radius: 50%;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 18px;
}
.range-controls .toggle-max {
  left: 160px;
}
.price-controls {
  display: flex;
  justify-content: space-between;
}
.price-controls label {
  text-transform: uppercase;
  font-size: 16px;
}
.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 9px;
  text-align: center;
  color: var(--basic-extra-dark);
  border: none;
  border-radius: 3px;
  background: var(--button-light-grey);
  font-family: inherit;
  font-size: inherit;
}
.price-controls .max-price {
  margin-left: 12px;
}
.filter-gridtype {
  border: none;
  margin: 0;
  margin-top: 54px;
  padding: 0;
  padding-bottom: 11px;
}
.filter-features {
  border: none;
  margin: 0;
  padding: 0;
  padding-bottom: 31px;
}
.filter-features legend {
  margin: 0;
  padding-bottom: 16px;
}
.filter-gridtype legend {
  padding-bottom: 0;
}
.filter-gridtype ul {
  padding: 0;
  padding-left: 35px;
}
.filter-gridtype li {
  padding: 0;
  margin: 0;
  padding-bottom: 19px;
}
.filter-gridtype input {
  margin: 0;
  padding: 0;
}
.filter-gridtype legend {
  margin: 0;
  padding: 0;
}
.filter-features ul {
  margin: 0;
  padding: 0;
  padding-left: 36px;
}
.filter-features li {
  margin: 0;
  padding: 0;
  padding-bottom: 21px;
}
.filter-features li:nth-of-type(2) {
  padding-bottom: 20px;
}
.filter-features li:nth-of-type(3) {
  padding-bottom: 19px;
}
.filter-features li:nth-of-type(4) {
  padding-bottom: 19px;
}
.filter-features input {
  padding: 0;
  margin: 0;
}
.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}
.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: -3px;
  width: 17px;
  height: 17px;
  border: 4px solid #4D4D4D;
  opacity: 40%;
  border-radius: 50%;
}
.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  left: -28px;
  top: 5px;
  width: 7px;
  height: 7px;
  border: 1px solid #4D4D4D;
  background-color: #4D4D4D;
  opacity: 40%;
  border-radius: 50%;
}
.filter-input-radio + label:focus:before,
.filter-input-radio + label:hover:before,
.filter-input-radio + label:focus::after,
.filter-input-radio + label:hover::after {
  opacity: 100%;
}
.filter-input-radio + label:invalid:before {
  opacity: 10%;
 }
.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: 0;
  width: 19px;
  height: 19px;
  border: 2px solid #4D4D4D;
  opacity: 40%;
  border-radius: 3px;
}
.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: 0;
  width: 25px;
  height: 23px;
  opacity: 40%;
  border: none;
  background-image: url("../img/checkbox-on.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-checkbox + label:focus:before,
.filter-input-checkbox + label:hover:before{
  opacity: 100%;
}
.filter-input-checkbox + label:invalid:before {
 opacity: 10%;
}

/* Catalog result */

.catalog-result {
  margin: 0;
  padding: 0;
  margin-left: 140px;
}

/* Catalog sort */

.catalog-sort {
  display: flex;
  align-items: baseline;
  position: relative;
  margin: 0;
  margin-top: 55px;
  padding: 0;
}
.sort-list {
  margin: 0;
  padding: 0;
  display: flex;
  align-self: center;
}
.sort-list li:nth-child(1) {
  padding-left: 41px;
  padding-right: 26px;
}
.sort-list li:nth-child(3) {
  padding-left: 26px;
}
.sort-list-value {
  margin: 0;
  padding: 0;
}
.catalog-sort h3 {
  margin: 0;
  padding: 0;
  width: 358px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}
.catalog-sort ul {
  list-style: none;
}
.catalog-sort li {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}
.catalog-sort a {
  color: var(--basic-black);
  text-decoration: none;
}
.more-to-less a {
  position: absolute;
  top: 9px;
  right: 29px;
  width: 0;
	height: 0;
	border-left: 5.5px solid transparent;
	border-right: 5.5px solid transparent;
	border-top: 11px solid #231F20;
}
.less-to-more a {
  position: absolute;
  top: 9px;
  right: 0;
  width: 0;
	height: 0;
	border-left: 5.5px solid transparent;
	border-right: 5.5px solid transparent;
	border-bottom: 11px solid #231F20;
}
.sort li {
  opacity: 30%;
}
.sort .sort-list-item-current,
.sort .more-to-less-current {
  opacity: 100%;
}
.sort li:focus,
.sort li:hover {
  opacity: 60%;
}
.sort li:active {
  opacity: 100%;
}

/* Catalog cards */

.catalog-cards-list ul {
  padding: 0;
  margin: 0;
}
.catalog-cards-list {
  display: flex;
  flex-wrap: wrap;
}
.catalog-cards {
  padding: 0;
  margin: 0;
  margin-top: 48px;
}
.catalog-cards a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.catalog-cards ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.catalog-cards-item {
  text-align: center;
  margin-bottom: 31px;
  height: 620px;
  width: 358px;
  border-radius: 5px;
  background-color: var(--basic-white);
  position: relative;
}
.circle-decoration::before {
  content: "";
  position: absolute;
  top: 0;
  right: -0.5px;
  width: 365px;
  height: 44px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-image: url("../img/circle-decoration.png");
  background-repeat: no-repeat;
  background-position: top right;
  opacity: 12%;
}
.catalog-cards-item img {
  position: absolute;
  bottom: 0;
  left: -0.5px;
  margin: 0;
  width: 357px;
  height: 578px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.catalog-cards-item:nth-child(2n) {
  margin-right: 0;
  margin-left: 41px;
}
.catalog-cards-item:focus,
.catalog-cards-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.circle-decoration:focus:before,
.circle-decoration:hover:before {
  opacity: 100%;
}
.catalog-cards-item a {
  line-height: 18px;
  color: var(--basic-grey);
}
.catalog-cards-item h3 {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}
.catalog-cards-item h3:focus,
.catalog-cards-item h3:hover {

  color: var(--basic-light-red);
}

.catalog-cards-item h3:active {
  color: var(--basic-black);
  opacity: 30%;
}

/* Cads description */

.card-description {
  width: 100%;
  min-height: 231px;
  background: var(--button-light-grey);
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
}
.catalog-cards-name {
  margin-top: 26px;
  margin: 0;
  padding: 0;
}
.catalog-cards-button {
  margin: 0;
  padding: 0;
  margin-top: 32px;
  margin-bottom: 44px;
}
.catalog-cards-info {
  margin: 0;
  margin-top: 12px;
  padding: 0;
}
.catalog-cards-item .button {
  width: 200px;
  height: 50px;
  border: none;
  text-align: center;
  border-radius: 3px;
  background-color: var(--basic-light-red);
}
.catalog-cards-item .button:focus,
.catalog-cards-item .button:hover {
  background-color: var(--basic-medium-red);
}
.catalog-cards-item .button:active {
  color: var(--basic-white);
  background-color: var(--basic-dark-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.catalog-cards-item:focus .card-description,
.catalog-cards-item:hover .card-description {
  display: block;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Pagination */

.pagination-wreapper {
  padding: 0;
  margin: 0;
  margin-top: 24px;
  margin-bottom: 59px;
}
.pagination-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: 23px;
  margin-bottom: 60px;
  list-style: none;
}
.pagination-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  margin-right: 11px;
}
.pagination-item a {
  display: block;
  padding: 16px 20px;
  border-radius: 3px;
  color: var(--basic-black);
  background-color: var(--button-light-grey);
}
.pagination-item.next a {
  text-transform: uppercase;
  padding: 16px 78px;
}
.pagination-item a:hover,
.pagination-item a:focus {
  background-color: var(--button-medium-grey);
}
.pagination-item a:active {
  color: rgba(0, 1, 1, 0.3);
  background-color: var(--button-dark-grey);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.pagination-item.pagination-item-current a {
  background-color: var(--basic-white);
  padding: 13px 18px;
  border: 3px solid #DBDBDB;
}
